.item-enter {
    opacity: 0;
    transform: translateY(-80%);
}
.item-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-in-out;
}
.item-exit {
    opacity: 1;
    transform: translateY(0);
}
.item-exit-active {
    opacity: 0;
    transition: all 300ms ease-in-out;
    transform: translateY(-80%);
    height: 0px;
}
