.item-enter {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
    will-change: transform;
}
.item-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
.item-exit {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.item-exit-active {
    opacity: 0;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    transform: translate3d(0, -20px, 0);
    height: 0px;
}
